.fld {
width: 16px;
height: 16px;
font-size: 0px; 
border: none; 
background: url('../img/mine.gif') no-repeat 0px 0px;
}

.X {
background-position: 0px 0px;
}

.M {
background-position: 0px -80px;
}

.W {
background-position: 0px -64px;
}

.F {
background-position: 0px -16px;
}

.B {
background-position: 0px -48px;
}

.b0 {
background-position: 0px -240px;
}

.b1 {
background-position: 0px -224px;
}

.b2 {
background-position: 0px -208px;
}

.b3 {
background-position: 0px -192px;
}

.b4 {
background-position: 0px -176px;
}

.b5 {
background-position: 0px -160px;
}

.b6 {
background-position: 0px -144px;
}

.b7 {
background-position: 0px -128px;
}

.b8 {
background-position: 0px -112px;
}

.face {
width: 24px;
height: 24px;
font-size: 0px; 
border: none; 
background: url('../img/face.gif') no-repeat 0px 0px;
}

.fnor {
background-position: 0px -96px;
}

.fprs {
background-position: 0px 0px;
}

.fcoo {
background-position: 0px -24px;
}

.fcry {
background-position: 0px -48px;
}

.fops {
background-position: 0px -72px;
}

.num {
width: 13px;
height: 23px;
font-size: 0px; 
border: none; 
background: url('../img/num.gif') no-repeat 0px 0px;
}

.nminus {
background-position: 0px 0px;
}

.nblank {
background-position: 0px -23px;
}

.n9 {
background-position: 0px -46px;
}

.n8 {
background-position: 0px -69px;
}

.n7 {
background-position: 0px -92px;
}

.n6 {
background-position: 0px -115px;
}

.n5 {
background-position: 0px -138px;
}

.n4 {
background-position: 0px -161px;
}

.n3 {
background-position: 0px -184px;
}

.n2 {
background-position: 0px -207px;
}

.n1 {
background-position: 0px -230px;
}

.n0 {
background-position: 0px -253px;
}

